*{
    background-color: #051f2d;
}

.Login{
    margin-top: 10%; 
    color: rgb(117, 22, 22);
    display: flex;
    flex-direction: column ;
    align-items: center;
}
label{
    text-align: center;
    font-size: 26px;
}
input{
    text-align: center;
    font-size: 26px;
 
    border-radius: 50px;
    border: black solid 2px;
    width: 320px;
    height: 45px;
 
  
}
h3{
    color: black;
}
.submit{
font-size: 26px;
 margin-top: 20px;
 background-color: rgb(7, 52, 7);

 
}

.submit:hover{
    background-color: rgb(117, 22, 22);
    
}
a:hover{
    color: rgb(117, 22, 22);
}